.ul-files
{
    padding: 0;
    background-color: #FFEB3B;
}

.card-file
{
    height: 4.5rem;
    margin-bottom:0.2rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    overflow: hidden;
}

.card-file-img
{
    background-color: #B8B8B8;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.file-card-title
{
    font-size: 1rem;
}

.meta
{ 
    font-size: 0.8rem;
    color: #757575;
}

.file-download-button
{
    position: relative;
    display: inline-block;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.file-buttons
{
    margin-top:0.5rem;
    margin-left:2rem;
}

